<!doctype html>
<html ng-app="app">
 <head>
  <title>Ocarina Fingering Charts</title>
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="angular-sanitize.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
 </head>
 <body>
  <div ng-controller="ChartController as ctrl">
   <nav class="scale-choices">
    <div class="category" ng-repeat="(category, list) in ctrl.menu">
     <div class="category-name">{{ category }} </div>
     <div class="list">
      <div class="category-sublist" ng-repeat="sublist in list">
       <a href="#" class="scale-choice" ng-repeat="scale in sublist" ng-click="ctrl.scale = scale" ng-bind-html="$root.pprintNote(scale)"></a>
      </div>
     </div>
    </div>
   </nav>
   <div class="scale">
    <ocarina ng-repeat="note in ctrl.scales[ctrl.scale]" note="{{ note }}"></ocarina>
   </div>
  </div>
 </body>
</html>
