body {
   font-family: "Open Sans", sans-serif;
   font-size: 16pt;
}

.ocarina {
   fill: none;
   stroke: #000000;
   stroke-width: 3;
}

.ocarina.impossible, 
.ocarina.impossible ~ .circle {
   stroke: #CCCCCC;
}

.ocarina.impossible .circle {

}

.circle {
   fill: none;
   stroke: #000000;
   stroke-width: 2.5;
}

.circle.covered {
   fill: #000000;
}

.fingering {
   display: inline-block;
   margin: 2em 0.5em;
}

.note-name {
   text-align: center;
}

.scale-choices {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

.category {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0.5em 0;
   background-color: #eee;
   padding: 1em;
}

.category-name {
   flex-basis: 20%;
   text-align: center;
}

.list {
   flex-grow: 1;
   text-align: center;
}

.scale-choice {
   display: inline-block;
   margin: 0.25em 0.5em;
   text-decoration: none;
   color: blue;
}

.scale {
   width: 80%;
   margin: auto;
   text-align: center;
}

.octave {
   opacity: 0.4;
}
